@import '../scss/fontawesome.scss';
@import '../scss/solid.scss';

$key-entry-size: 100px;
$key-entries-gap: 4px;

$key-control-button-size: 22px;
$key-control-background-color: white;
$key-control-shadow-inset: inset 1px 1px 2px 0px gray;
$key-control-border-radius: 10px;
$key-control-padding: 2px;

// document classes
:root {
    font-family: monospace;
    user-select: none;
}

body {
    margin: 0;
}

// global classes
.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.button {
    cursor: pointer;
}

// project classes
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .key-entries {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $key-entries-gap;
        margin-bottom: calc($key-entries-gap / 2);
        padding-bottom: calc($key-entries-gap / 2);
        max-height: calc($key-entry-size * 3 + $key-entries-gap * 2);
        overflow: hidden;

        .key-container {
            display: grid;
            grid-template-rows: max-content 1fr max-content;
            width: $key-entry-size;
            height: $key-entry-size;
            border: 1px solid grey;
            border-radius: $key-control-border-radius;
            box-sizing: border-box;

            &.blank {
                background-color: rgb(255, 255, 255) !important;
            }

            .key-type-icon {
                grid-row: 1;
                cursor: help;
                background-color: $key-control-background-color;
                border-radius: $key-control-border-radius 0 $key-control-border-radius 0;
                padding: 0 $key-control-padding 0 0;
                box-shadow: $key-control-shadow-inset;
            }

            .key-handle {
                justify-self: end;
                grid-row: 1;
                cursor: grab;
                background-color: $key-control-background-color;
                border-radius: 0 $key-control-border-radius 0 $key-control-border-radius;
                padding: 0 0 0 $key-control-padding;
                box-shadow: $key-control-shadow-inset;
            }

            &.blank .key-label {
                display: none;
            }

            .key-label {
                grid-row: 2;
                grid-column: 1/3;
                justify-self: center;
                align-self: center;
                font-weight: bold;
                word-break: break-all;
                background-color: $key-control-background-color;
                border-radius: $key-control-border-radius;
                padding: $key-control-padding $key-control-padding * 3;
                box-shadow: $key-control-shadow-inset;
            }

            .key-controls {
                display: flex;
                grid-row: 3;
                grid-column: 1/3;
                justify-self: end;
                background-color: $key-control-background-color;
                border-radius: $key-control-border-radius 0 $key-control-border-radius 0;
                padding: $key-control-padding 0 0 $key-control-padding;
                box-shadow: $key-control-shadow-inset;
            }

            .key-type-icon,
            .button {
                width: $key-control-button-size;
                height: $key-control-button-size;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &.blank .button.delete {
                display: none;
            }

            &.blank .button.open,
            &.macro .button.open {
                display: none;
            }

            &:nth-child(9n) {
                margin-bottom: calc($key-entries-gap * 5);
            }
        }
    }

    .app-controls,
    .device-controls,
    .key-entries-controls {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $key-entries-gap;
        margin-bottom: $key-entries-gap;

        .button,
        .info {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $key-entry-size;
            height: calc($key-entry-size / 2);
            border: 1px solid grey;
            box-sizing: border-box;
            align-self: flex-end;
            user-select: none;
            word-break: break-word;
        }

        .button {
            background-color: cornflowerblue;
        }
    }
}

.dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;

    .dialog {
        display: grid;
        column-gap: 4px;
        width: fit-content;
        background-color: white;
        border: 1px solid black;
        box-sizing: border-box;
        padding: 10px;

        .inputs {
            grid-row: 1;
            display: grid;
            grid-template-columns: 100px 1fr;
            align-items: center;
            row-gap: 4px;
            margin-bottom: 4px;
        }

        &.blank .inputs .label,
        &.blank .inputs .color,
        &.blank .inputs .content,
        &.blank .inputs .encoder,
        &.group .inputs .content,
        &.macro .inputs .encoder {
            display: none;
        }

        .button {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            border: 1px solid grey;
            box-sizing: border-box;
        }

        .button.close {
            grid-column: 2;
            background-color: lightcoral;
        }

        .button.ok {
            grid-row: 2;
            grid-column: 2;
            background-color: cornflowerblue;
        }
    }
}
