@import 'fontawesome.scss';
@import 'solid.scss';

// document classes
:root {
    font-family: monospace;
    user-select: none;

    --color-blue: #4fc1e9;
    --color-red: #fc6e51;
    --color-green: #add468;
    --color-yellow: #ffce54;
    --color-grey: #808080;
    --color-black: #404040;
    --color-white: #ffffff;
    --shadow-color: #808080bf;

    --key-entry-size: 100px;
    --key-entries-gap: 10px;

    --key-control-button-size: 22px;
    --key-control-shadow-inset: inset 1px 1px 2px 0px var(--shadow-color);
    --key-control-border-radius: 10px;
    --key-control-padding: 2px;

    --dialog-button-size: 40px;
    --dialog-gap: 4px;

    --macro-entry-height: 30px;
}

body {
    margin: var(--key-entries-gap);
    background-color: var(--color-white);
    color: var(--color-black);
}

// global classes
.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.button {
    cursor: pointer;
}

// project classes

.github-corner:active,
.github-corner:visited,
.github-corner svg {
    fill: var(--color-black);
    color: var(--color-white);
}

// Main container
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .key-entries {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--key-entries-gap);
        margin-bottom: calc(var(--key-entries-gap) / 2);
        padding: calc(var(--key-entries-gap) / 2);
        max-height: calc(var(--key-entry-size) * 3 + var(--key-entries-gap) * 2);
        overflow: hidden;

        .key-container {
            display: grid;
            grid-template-rows: max-content 1fr max-content;
            width: var(--key-entry-size);
            height: var(--key-entry-size);
            border-top: 1px solid var(--shadow-color);
            border-left: 1px solid var(--shadow-color);
            border-radius: var(--key-control-border-radius);
            box-sizing: border-box;
            box-shadow: 3px 3px 2px 1px var(--shadow-color);

            &.blank {
                background-color: transparent !important;
            }

            .key-type-icon {
                grid-row: 1;
                cursor: help;
                background-color: var(--color-white);
                border-radius: var(--key-control-border-radius) 0 var(--key-control-border-radius) 0;
                padding: 0 var(--key-control-padding) 0 0;
                box-shadow: var(--key-control-shadow-inset);
            }

            .key-handle {
                justify-self: end;
                grid-row: 1;
                cursor: grab;
                background-color: var(--color-white);
                border-radius: 0 var(--key-control-border-radius) 0 var(--key-control-border-radius);
                padding: 0 0 0 var(--key-control-padding);
                box-shadow: var(--key-control-shadow-inset);
            }

            &.blank .key-label {
                display: none;
            }

            .key-label {
                grid-row: 2;
                grid-column: 1/3;
                justify-self: center;
                align-self: center;
                font-weight: bold;
                word-break: break-all;
                background-color: var(--color-white);
                border-radius: var(--key-control-border-radius);
                padding: var(--key-control-padding) calc(var(--key-control-padding) * 3);
                box-shadow: var(--key-control-shadow-inset);
            }

            .key-controls {
                display: flex;
                grid-row: 3;
                grid-column: 1/3;
                justify-self: end;
                background-color: var(--color-white);
                border-radius: var(--key-control-border-radius) 0 var(--key-control-border-radius) 0;
                padding: var(--key-control-padding) 0 0 var(--key-control-padding);
                box-shadow: var(--key-control-shadow-inset);

                .button {
                    &.edit:hover {
                        color: var(--color-blue);
                    }
                    &.open:hover {
                        color: var(--color-green);
                    }
                    &.delete:hover {
                        color: var(--color-red);
                    }
                }
            }

            .key-type-icon,
            .button {
                width: var(--key-control-button-size);
                height: var(--key-control-button-size);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &.blank .button.delete {
                display: none;
            }

            &.blank .button.open,
            &.macro .button.open {
                display: none;
            }
        }
    }
}

// Big buttons
.main-container .app-controls,
.main-container .device-controls,
.main-container .key-entries-controls,
.dialog-container .dialog-reboot-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--key-entries-gap);
    margin-bottom: var(--key-entries-gap);

    .button,
    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: var(--key-entry-size);
        height: calc(var(--key-entry-size) / 2);
        box-sizing: border-box;
        align-self: flex-end;
        user-select: none;
        word-break: break-word;
    }

    .button {
        position: relative;
        background-color: var(--color-blue);
        border: 1px solid var(--color-grey);

        i {
            pointer-events: none;
        }
    }
}

// Dialog
.dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    &::before {
        display: block;
        height: 100%;
        width: 100%;
        content: '';
        background-color: var(--color-white);
        opacity: 0.5;
    }

    .dialog {
        display: grid;
        grid-auto-columns: auto var(--dialog-button-size);
        column-gap: var(--dialog-gap);
        position: absolute;
        width: fit-content;
        min-width: 320px;
        background-color: var(--color-white);
        border: 1px solid var(--shadow-color);
        border-radius: var(--dialog-gap);
        box-sizing: border-box;
        box-shadow: 5px 5px 4px 2px var(--shadow-color);
        overflow: auto;

        .dialog-header {
            grid-row: 1;
            grid-column: 1 / 3;
            display: flex;
            gap: var(--dialog-gap);
            margin-right: var(--dialog-button-size);
            padding-right: var(--dialog-gap);
            height: var(--dialog-button-size);
            background-color: var(--color-black);
            color: var(--color-white);

            .dialog-header-label {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                font-weight: bold;
                font-size: large;
                cursor: move;
            }

            .dialog-button {
                border-top: none;
                color: var(--color-black);

                .dialog-button-label {
                    position: absolute;
                    transform: rotate(-45deg);
                    opacity: 0;
                }
            }
        }

        .dialog-prompt {
            grid-row: 2;
            grid-column: 1;
            max-width: 265px;
            margin: 4px;
        }

        .dialog-inputs {
            grid-row: 2;
            grid-column: 1 / 3;
            display: grid;
            align-items: start;
            row-gap: var(--dialog-gap);
            margin-left: var(--dialog-gap);
            margin-top: var(--dialog-gap);

            .dialog-input-shorten {
                margin-right: calc(var(--dialog-button-size) + var(--dialog-gap));
            }

            .dialog-color {
                display: flex;

                input {
                    width: 100%;
                }
            }

            .dialog-details summary {
                cursor: pointer;
            }

            .dialog-macros {
                display: grid;
                grid-template-columns: 1fr var(--dialog-button-size);
                gap: var(--dialog-gap);

                .dialog-sortable {
                    display: grid;
                    gap: var(--dialog-gap);
                    background-color: var(--color-white);
                    border: 1px solid var(--color-grey);
                    box-sizing: border-box;
                    padding: var(--dialog-gap);
                    max-height: calc(var(--macro-entry-height) * 5 + var(--dialog-gap) * 6);
                    overflow: auto;

                    .macro-entry-container {
                        display: flex;
                        gap: var(--dialog-gap);
                        align-items: center;
                        height: var(--macro-entry-height);
                        padding: var(--dialog-gap);
                        background-color: var(--color-green);
                        border: 1px solid var(--color-grey);
                        border-radius: calc(var(--key-control-border-radius) / 2);
                        box-sizing: border-box;

                        .macro-entry-handle {
                            cursor: grab;
                        }

                        .macro-entry-additionals {
                            margin: 0 0 0 auto;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .dialog-reboot-buttons {
            grid-column: 1 / 3;
            margin: var(--key-entries-gap);
        }

        &.blank .dialog-inputs .dialog-label,
        &.blank .dialog-inputs .dialog-color,
        &.blank .dialog-inputs .dialog-content,
        &.blank .dialog-inputs .dialog-encoder,
        &.group .dialog-inputs .dialog-content,
        &.macro .dialog-inputs .dialog-encoder {
            display: none;
        }

        .dialog-button {
            border: 1px solid var(--color-grey);
            border-right: none;
        }

        .dialog-button.close {
            grid-row: 1;
            grid-column: 2;
            border: none;
            border-bottom: 1px solid var(--color-grey);
            border-left: 1px solid var(--color-grey);
        }

        .dialog-button.ok {
            grid-row: 3;
            grid-column: 2;
            margin-top: 4px;
            border: none;
            border-top: 1px solid var(--color-grey);
            border-left: 1px solid var(--color-grey);
        }
    }
}

// Notification
.notification-container {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    right: 0;
    bottom: 0;

    .notification {
        display: grid;
        grid-auto-columns: auto var(--dialog-button-size);
        align-items: center;
        position: relative;
        min-height: var(--dialog-button-size);
        background-color: var(--color-black);
        border: 1px solid var(--color-grey);
        border-radius: 4px;
        box-sizing: border-box;
        overflow: hidden;

        &.info {
            background-color: var(--color-blue);
        }
        &.success {
            background-color: var(--color-green);
        }
        &.warning {
            background-color: var(--color-yellow);
        }
        &.error {
            background-color: var(--color-red);
        }

        .notification-message {
            padding: 0 calc(var(--dialog-button-size) / 4);
        }

        .dialog-button.close {
            border-left: 1px solid var(--color-grey);
        }
    }
}

// Dialog and notification buttons
.dialog-container .dialog-button,
.notification-container .dialog-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    width: var(--dialog-button-size);
    height: var(--dialog-button-size);
    background-color: var(--color-white);
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;

    &.close {
        grid-row: 1;
        grid-column: 2;
        background-color: var(--color-red);
    }

    &.ok {
        grid-row: 3;
        grid-column: 2;
        background-color: var(--color-blue);
        margin-top: 4px;
    }
}

// Button hover effect
.main-container .app-controls .button:hover:after,
.main-container .device-controls .button:hover:after,
.main-container .key-entries-controls .button:hover:after,
.dialog-container .dialog-button:hover:after,
.dialog-container .dialog-reboot-buttons .button:hover:after,
.notification-container .dialog-button:hover:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: inset 0px 0px 5px 2px var(--shadow-color);
}
