@import 'fontawesome.scss';
@import 'solid.scss';

$shadow-color: #808080bf;
$color-blue: #03a9f4;
$color-red: lightcoral;
$color-green: #cddc39;
$color-black: grey;
$color-darkgrey: #505050;
$color-white: white;
$color-altwhite: antiquewhite;

$key-entry-size: 100px;
$key-entries-gap: 10px;

$key-control-button-size: 22px;
$key-control-shadow-inset: inset 1px 1px 2px 0px $shadow-color;
$key-control-border-radius: 10px;
$key-control-padding: 2px;

$dialog-button-size: 40px;
$dialog-gap: 4px;

$macro-entry-height: 30px;

// document classes
:root {
    font-family: monospace;
    user-select: none;
}

body {
    margin: $key-entries-gap;
    background-color: $color-altwhite;
}

// global classes
.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.button {
    cursor: pointer;
}

// project classes
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .key-entries {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $key-entries-gap;
        margin-bottom: calc($key-entries-gap / 2);
        padding: calc($key-entries-gap / 2);
        max-height: calc($key-entry-size * 3 + $key-entries-gap * 2);
        overflow: hidden;

        .key-container {
            display: grid;
            grid-template-rows: max-content 1fr max-content;
            width: $key-entry-size;
            height: $key-entry-size;
            border-top: 1px solid $shadow-color;
            border-left: 1px solid $shadow-color;
            border-radius: $key-control-border-radius;
            box-sizing: border-box;
            box-shadow: 3px 3px 2px 1px $shadow-color;

            &.blank {
                background-color: transparent !important;
            }

            .key-type-icon {
                grid-row: 1;
                cursor: help;
                background-color: $color-altwhite;
                border-radius: $key-control-border-radius 0 $key-control-border-radius 0;
                padding: 0 $key-control-padding 0 0;
                box-shadow: $key-control-shadow-inset;
            }

            .key-handle {
                justify-self: end;
                grid-row: 1;
                cursor: grab;
                background-color: $color-altwhite;
                border-radius: 0 $key-control-border-radius 0 $key-control-border-radius;
                padding: 0 0 0 $key-control-padding;
                box-shadow: $key-control-shadow-inset;
            }

            &.blank .key-label {
                display: none;
            }

            .key-label {
                grid-row: 2;
                grid-column: 1/3;
                justify-self: center;
                align-self: center;
                font-weight: bold;
                word-break: break-all;
                background-color: $color-altwhite;
                border-radius: $key-control-border-radius;
                padding: $key-control-padding $key-control-padding * 3;
                box-shadow: $key-control-shadow-inset;
            }

            .key-controls {
                display: flex;
                grid-row: 3;
                grid-column: 1/3;
                justify-self: end;
                background-color: $color-altwhite;
                border-radius: $key-control-border-radius 0 $key-control-border-radius 0;
                padding: $key-control-padding 0 0 $key-control-padding;
                box-shadow: $key-control-shadow-inset;
            }

            .key-type-icon,
            .button {
                width: $key-control-button-size;
                height: $key-control-button-size;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &.blank .button.delete {
                display: none;
            }

            &.blank .button.open,
            &.macro .button.open {
                display: none;
            }

            &:nth-child(9n) {
                margin-bottom: calc($key-entries-gap * 5);
            }
        }
    }

    .app-controls,
    .device-controls,
    .key-entries-controls {
        display: flex;
        flex-wrap: wrap;
        gap: $key-entries-gap;
        margin-bottom: $key-entries-gap;

        .button,
        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: $key-entry-size;
            height: calc($key-entry-size / 2);
            box-sizing: border-box;
            align-self: flex-end;
            user-select: none;
            word-break: break-word;
        }

        .button {
            background-color: $color-blue;
            border: 1px solid $color-black;
        }
    }
}

.dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .dialog {
        display: grid;
        grid-auto-columns: auto $dialog-button-size;
        column-gap: $dialog-gap;
        position: absolute;
        width: fit-content;
        min-width: 320px;
        background-color: $color-white;
        border: 1px solid $shadow-color;
        border-radius: $dialog-gap;
        box-sizing: border-box;
        box-shadow: 5px 5px 4px 2px $shadow-color;
        overflow: auto;

        .dialog-header {
            grid-row: 1;
            grid-column: 1 / 3;
            display: grid;
            align-items: center;
            justify-content: center;
            height: $dialog-button-size;
            background-color: $color-darkgrey;
            color: $color-white;
            font-weight: bold;
            font-size: large;
            cursor: move;
        }

        .dialog-inputs {
            grid-row: 2;
            grid-column: 1 / 3;
            display: grid;
            align-items: start;
            row-gap: $dialog-gap;
            margin-left: $dialog-gap;
            margin-top: $dialog-gap;

            .dialog-type-input,
            .dialog-label-input {
                margin-right: $dialog-button-size + $dialog-gap;
            }

            .dialog-details summary {
                cursor: pointer;
            }

            .dialog-macros {
                display: grid;
                grid-template-columns: 1fr $dialog-button-size;
                gap: $dialog-gap;

                .dialog-sortable {
                    display: grid;
                    gap: $dialog-gap;
                    background-color: $color-white;
                    border: 1px solid $color-black;
                    box-sizing: border-box;
                    padding: $dialog-gap;
                    max-height: $macro-entry-height * 5 + $dialog-gap * 6;
                    overflow: auto;

                    .macro-entry-container {
                        display: flex;
                        gap: $dialog-gap;
                        align-items: center;
                        height: $macro-entry-height;
                        padding: $dialog-gap;
                        background-color: $color-green;
                        border: 1px solid $color-black;
                        border-radius: calc($key-control-border-radius / 2);
                        box-sizing: border-box;

                        .macro-entry-handle {
                            cursor: grab;
                        }

                        .macro-entry-additionals {
                            margin: 0 0 0 auto;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        &.blank .dialog-inputs .dialog-label,
        &.blank .dialog-inputs .dialog-color,
        &.blank .dialog-inputs .dialog-content,
        &.blank .dialog-inputs .dialog-encoder,
        &.group .dialog-inputs .dialog-content,
        &.macro .dialog-inputs .dialog-encoder {
            display: none;
        }

        .dialog-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $dialog-button-size;
            height: $dialog-button-size;
            background-color: $color-white;
            border: 1px solid $color-black;
            box-sizing: border-box;
            cursor: pointer;

            &.close {
                grid-row: 1;
                grid-column: 2;
                background-color: $color-red;
            }

            &.ok {
                grid-row: 3;
                grid-column: 2;
                background-color: $color-blue;
                margin-top: 4px;
            }
        }
    }
}
