$keywidth: 100px;
$keyheight: 100px;
$gap: 4px;

body {
    margin: 0;
}

.hidden {
    display: none !important;
}

.button {
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .key-entries {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $gap;
        margin-bottom: $gap;
        max-height: calc($keyheight * 3 + $gap * 2);
        overflow: hidden;

        .key-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: $keywidth;
            height: $keyheight;
            border: 1px solid grey;
            box-sizing: border-box;

            .key-controls {
                display: flex;
            }

            &.blank .button.delete {
                display: none;
            }

            &.blank .button.open,
            &.macro .button.open {
                display: none;
            }

            &:nth-child(9n) {
                margin-bottom: calc($gap * 5);
            }
        }
    }

    .app-controls,
    .device-controls,
    .key-entries-controls {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $gap;
        margin-bottom: $gap;

        .button,
        .info {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $keywidth;
            height: calc($keyheight / 2);
            border: 1px solid grey;
            box-sizing: border-box;
            align-self: flex-end;
            user-select: none;
            word-break: break-word;
        }

        .button {
            background-color: cornflowerblue;
        }
    }
}
