.hidden {
    display: none !important;
}

.button {
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .key-entries {
        display: grid;
        grid-template-columns: min-content min-content min-content;
        gap: 5px;
        margin-bottom: 5px;

        .key-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100px;
            height: 100px;
            border: 1px solid grey;
            box-sizing: border-box;

            .key-controls {
                display: flex;
            }

            &.blank .button.delete {
                display: none;
            }

            &.blank .button.open,
            &.macro .button.open {
                display: none;
            }
        }
    }

    .app-controls,
    .device-controls,
    .key-entries-controls {
        display: flex;
        gap: 5px;
        margin-bottom: 5px;

        .button,
        .info {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            background-color: lightcoral;
            border: 1px solid grey;
            align-self: flex-end;
            user-select: none;
            word-break: break-word;
        }
    }
}
